DB_URL=jdbc:mysql://localhost:3306/nikex?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

MAIL_HOST=smtp.mailersend.net
MAIL_PORT=2525
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
MAILERSEND_API_TOKEN=your_mailersend_token
APP_MAIL=your_app_email@gmail.com
APP_NAME=nike-x
APP_URL=http://localhost:8080/nike-x
