<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.hbm2ddl.auto">validate</property>
      <property name="hibernate.show_sql">false</property>

      <!-- HikariCP Connection Pool Configs -->
      <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
      <property name="hibernate.hikari.minimumIdle">5</property>
      <property name="hibernate.hikari.maximumPoolSize">20</property>
      <property name="hibernate.hikari.idleTimeout">30000</property>
      <property name="hibernate.hikari.poolName">NikeXHikariPool</property>
      <property name="hibernate.hikari.maxLifetime">2000000</property>
      <property name="hibernate.hikari.connectionTimeout">30000</property>

      <mapping class="com.zentora.nike_x.entity.Address"/>
      <mapping class="com.zentora.nike_x.entity.Admin"/>
      <mapping class="com.zentora.nike_x.entity.Brand"/>
      <mapping class="com.zentora.nike_x.entity.Cart"/>
      <mapping class="com.zentora.nike_x.entity.CartItem"/>
      <mapping class="com.zentora.nike_x.entity.Color"/>
      <mapping class="com.zentora.nike_x.entity.City"/>
      <mapping class="com.zentora.nike_x.entity.Gender"/>
      <mapping class="com.zentora.nike_x.entity.Grn"/>
      <mapping class="com.zentora.nike_x.entity.GrnItem"/>
      <mapping class="com.zentora.nike_x.entity.Invoice"/>
      <mapping class="com.zentora.nike_x.entity.InvoiceItem"/>
      <mapping class="com.zentora.nike_x.entity.Mobile"/>
      <mapping class="com.zentora.nike_x.entity.Model"/>
      <mapping class="com.zentora.nike_x.entity.Order"/>
      <mapping class="com.zentora.nike_x.entity.OrderItem"/>
      <mapping class="com.zentora.nike_x.entity.Product"/>
      <mapping class="com.zentora.nike_x.entity.ProductImage"/>
      <mapping class="com.zentora.nike_x.entity.Review"/>
      <mapping class="com.zentora.nike_x.entity.ReviewImage"/>
      <mapping class="com.zentora.nike_x.entity.Seller"/>
      <mapping class="com.zentora.nike_x.entity.Size"/>
      <mapping class="com.zentora.nike_x.entity.Status"/>
      <mapping class="com.zentora.nike_x.entity.Stock"/>
      <mapping class="com.zentora.nike_x.entity.User"/>
      <mapping class="com.zentora.nike_x.entity.Wishlist"/>






  </session-factory>
</hibernate-configuration>